%h1
  Flavors

%table.display
  %thead
    %tr
      %th ID
      %th Architecture
      %th Memory
      %th Storage
  %tbody
    - @flavors.each do |flavor|
      %tr
        %td
          = link_to flavor.id, flavor_url( flavor.id )
        %td
          = flavor.architecture
        %td
          = "#{flavor.memory} GB"
        %td
          = "#{flavor.storage} GB"
