!!!
!!! XML

%html
  %head
    = stylesheet_link_tag '/stylesheets/compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag '/stylesheets/compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag '/stylesheets/compiled/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag '/stylesheets/compiled/application.css', :media => 'screen, projection'
  %body
    #wrapper
      #header
        = link_to image_tag( "/images/logo-wide.png" ), root_url
      = bread_crumb
      #content
        = yield
      #footer
        #driver_info
          Driver: #{DRIVER}
        #copyright
          Copyright 2009, 2010
          #{link_to 'Red Hat', 'http://redhat.com'} and individual contributors.
