%h1
  = @instance.id

%dl
  %di
    %dt Image
    %dd
      = link_to @instance.image_id, image_url( @instance.image_id )
  %di
    %dt Owner
    %dd
      = @instance.owner_id
  %di
    %dt Name
    %dd
      = @instance.name
  %di
    %dt Flavor
    %dd
      = @instance.flavor_id ? link_to(@instance.flavor_id, flavor_url(@instance.flavor_id)) : 'default'
  %di
    %dt Realm
    %dd
      = @instance.realm_id ? link_to(@instance.realm_id, realm_url(@instance.realm_id)) : 'default'
  %di
    %dt State
    %dd
      = @instance.state
  %di
    %dt Public Addresses
    %dd
      = @instance.public_addresses.collect { |address| "<div>#{address}</div>" }.join
  %di
    %dt Private Addresses
    %dd
      = @instance.private_addresses.collect { |address| "<div>#{address}</div>" }.join
  %di
    %dt
    %dd
      = @instance.actions.collect { |action| link_to(action, "/api/instances/#{@instance.id}/#{action}") }.join("&nbsp;")
